@media only screen and (max-width: 768px) {
    header .navbar-brand {
        padding-left: 1rem;
    }

    .section-1 .row .col-md-6 .panal {
        position: initial;
        width: initial;
        height: initial;
    }

    .section-2 .cover {
        background-position: -25vmin -10vmin;
    }
    .section-1 .col-md-6 .pray img {
        width: 100%;
    }

    .numbers .rect {
        width: 9rem;
        height: 8rem;
    }

    .numbers .rect h2 {
        font-size: 2rem;
    }

    .section-3 {
        height: inherit;
        padding: 7vmin !important;
    }

    .section-3 .row h1 {
        padding: 6vmin 4vmin;
    }

    .section-3 .platform .col-md-6 {
        text-align: center !important;
    }

    .section-3 .desktop i {
        font-size: 8vmin;
    }

    .section-4 .team {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .section-4 .carousel-item {
        padding-left: 0rem;
    }

    .section-4 .carousel-inner {
        width: 24rem;
    }

    footer .column i+i {
        padding: 0;
    }

    footer {
        padding: 14vmin 7vmin;

    }
}

    @media only screen and (max-width: 425px) {
        footer .row .col-md-2 {
            margin-top: 8vmin;
        }

        /* .section-1 .col-md-6 .pray img {
        position: initial;
        width: 100%;
        height: initial;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);

    }

    .cover .content>p {
        font-family: var(--Rubik);
        font-size: 2.5vmin;
        color: #e5e5e5;
    } */
    }

    @media only screen and (max-width: 320px) {
        .section-4 .carousel-inner {
            margin-left: -4vmin;
        }
        .section-4 .team {
            padding: 0vmin 0vmin;
        }
        .section-4 .team .p-4 {
            padding: 1.5rem!important;
            padding-top: 1.5rem !important;
            /* padding-right: 1.5rem !important; */
            padding-bottom: 1.5rem !important;
            padding-left: 1.5rem !important;
        }
        .section-4 .card .card-text {
            padding: 2.5rem 3rem;
        }
    }